/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@theme {
  /* ========= Colors ========= */

  
  --color-primary2:#fff;
  --color-background: #f9f9ff;

  --color-input: #d7e2ff;
  --color-validationhints: #e8edff;

  --color-border: #d1d5db;
  --color-borderfooter: #c3c6d626;

  --color-blue-041B3C: #041b3c;
  --color-blue-0052CC: #0052cc;
  --color-blue-003D9B: #003d9b;
  --color-blue-D7E2FF: #d7e2ff;
  --color-blue-F1F3FF: #f1f3ff;

  --color-gray-434654: #434654;
  --color-gray-737685: #737685;
  --color-gray-C3C6D6: #c3c6d6;

  --color-body: #4f5f7b;
  --color-label: #434654;

  --color-green-004E32: #004e32;
  --color-green-82F9BE: #82F9BE;
  --color-green-005235: #005235;

  --color-red-BA1A1A: #ba1a1a;

  /* ========= Fonts ========= */

  --font-sans: 'Inter', sans-serif;

  /* ========= Shadows ========= */

  --shadow-button:
    0 4px 6px -4px rgba(0, 61, 155, 0.1),
    0 10px 15px -3px rgba(0, 61, 155, 0.1);

  --shadow-card: 0 24px 48px rgba(4, 27, 60, 0.06);

  --shadow-maincontent-card: 0 24px 48px -12px rgba(4, 27, 60, 0.06);

  --shadow-navbar-image: 0 1px 2px rgba(0, 0, 0, 0.05);
  --backdrop-filter: blur(12px)


  /* ========= Gradients ========= */

    // --color-primary: #003d9b;
}

/* ========= Reusable Utility Classes ========= */

@layer utilities {
  .bg-primary-gradient {
    background: linear-gradient(99.8deg, #003d9b 0%, #0052cc 100%);
  }
}